<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1> Play with ejs</h1>

        <ul>
            <% for (let i = 1;i<6;i++) { %>
                <li>
                    <%= i %>
                </li>
            <% } %>
        </ul>
    </body>
</html>